/*
font-family: 'Oswald', sans-serif;
font-family: 'PT Serif', serif;
*/

:root {
  --alternate-color-1: #EFDCAC;
  --alternate-color-2: #EDBFA5;
  --background-color: #fff;
  --highlight-color: #C10000 /*#FF1111*/; 
  --text-color: #000;
  --title-color: #C10000;


  --text-shadow: -1px 1px 0 rgba(255, 255, 255, .5);
  --sans: 'Oswald', sans-serif;
  --serif: 'PT Serif', serif;
}

* {
  box-sizing: border-box;
}

body.vn {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--serif);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
}

header {
  background: var(--highlight-color);
  display: block;
  height: 30px;
  line-height: 40px;
}

header h1 {
  color: var(--background-color);
  font-family: var(--sans);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

header h1 img {
  display: inline-block;
  height: 18px;
  object-fit: contain;
  vertical-align: text-bottom;
  width: auto;
}

.intro {
  aspect-ratio: 4 / 3;
  /* background:var(--text-color) url(../img/apertura.png) center center no-repeat; */
  background-blend-mode: lighten;
  background-size: cover;
  display: block;
  height: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width:1366px) {
  .intro {
    aspect-ratio: auto;
    height: 90vh;
  }
}

.intro .title {
  display: block;
  left: 50%;
  max-width: 60%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.intro h1,
.intro h2,
.intro h3 {
  color: var(--text-color);
  font-family: var(--sans);
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
}

.intro h1 {
  color: var(--highlight-color);
  font-size: 64px;
  margin-bottom: 3px;
}

@media screen and (min-width:768px) {
  .intro h1 {
    font-size: 152px;
    margin-bottom: 6px;
  }
}

@media screen and (min-width:1366px) {
  .intro h1 {
    font-size: 182px;
    margin-bottom: 6px;
  }
}

.intro h2 {
  font-size: 16px;
}

@media screen and (min-width:768px) {
  .intro h2 {
    font-size: 24px;
  }
}

.intro h3 {
  font-size: 14px;
}

@media screen and (min-width:768px) {
  .intro h3 {
    font-size: 22px;
  }
}

.claim {
  display: block;
  padding: 60px 20px;
  text-align: center;
}

@media screen and (min-width:768px) {
  .claim {
    padding: 120px;
  }
}

.claim p {
  margin: 0;
}

@media screen and (min-width:768px) {
  .claim p {
    font-size: 20px;
  }
}

@media screen and (min-width:1366px) {
  .claim p {
    font-size: 24px;
    margin: 0 auto;
    max-width: 600px;
  }
}

.claim-1 {
  background: var(--highlight-color);
  color: var(--background-color);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.grid-item {
  aspect-ratio: 1 / 1;
  display: block;
  flex: 0 0 100%;
  position: relative;
}

@media screen and (min-width:768px) {
  .grid-item {
    flex: 0 0 50%;
  }
}

@media screen and (min-width:1366px) {
  .grid-item {
    flex: 0 0 25%;
  }
}

.grid-small {
  flex: 0 0 50%;
}

@media screen and (min-width:1366px) {
  .grid-small {
    flex: 0 0 25%;
  }
}

.grid-item img {
  display: block;
  height: 100%;
  margin: 0;
  object-fit: cover;
  width: 100%;
}

.grid-item-compra {
  background: var(--highlight-color);
}

.grid-item .compra {
  color: var(--background-color);
  display: block;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 50%;
}

@media screen and (min-width:768px) {
  .grid-item .compra {
    width: 75%;
  }
}

@media screen and (min-width:1366px) {
  .grid-item .compra {
    width: 75%;
  }
}

.grid-item .compra p {
  margin: 0 0 10px 0;
}

.grid-item .compra p:last-child {
  margin-bottom: 0;
}

.grid-item .compra a {
  color: var(--background-color);
}

.grid-item .compra .button {
  background: var(--background-color);
  border-radius: 3px;
  color: var(--highlight-color);
  display: inline-block;
  font-family: var(--sans);
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  letter-spacing: .005em;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}

@media screen and (min-width:768px) {
  .grid-item .compra .button {
    font-size: 26px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
  }
}

.poster {
  aspect-ratio: 2 / 3;
  background: url(../img/poster.png) center center;
  background-size: cover;
  display: block;
  height: auto;
  width: 100%;
}

.preview {
  aspect-ratio: 4 / 3;
  background: url(../img/preview.png) center center;
  background-size: cover;
  display: block;
  height: auto;
  width: 100%;
}

.vn footer {
  background: var(--text-color);
  color: var(--background-color);
  display: block;
  margin-top: 60px;
  padding: 60px 0;
}

footer .cols {
  padding: 0 20px;
}

@media screen and (min-width:768px) {
  footer .cols {
    display: flex;
    padding: 0 10px;
    width: auto;
  }

  footer .col {
    display: block;
    flex: 0 0 50%;
    padding: 0 10px;
  }

  footer .col.legal {
    order: 1;
  }

  footer .col.corporate {
    order: 2;
  }
}

@media screen and (min-width:1024px) {
  footer .col.legal {
    flex: 0 0 66.6666%;
  }
  footer .col.corporate {
    flex: 0 0 33.3333%;
  }
}